{
    "root": true,
    "env": {
        "es6": true,
        "node": true
    },
    "extends": ["eslint:recommended", "google", "eslint:recommended"],
    "parser": "babel-eslint",
    "ignorePatterns": ["dist"],
    "rules": {
        "quotes": ["error", "double"],
        "indent": ["error", 4],
        "comma-dangle": "off",
        "max-len": "off"
    }
}
